@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CustomerInvoicesApp.Models.Customer

<h1>Edit Customer</h1>

@{
    <span asp-validation-summary="All"></span>
    ViewBag.FormAction = "EditCustomer";
    @await Html.PartialAsync("_CustomerForm", Model)
}


